<%- include('../partials/countdown') %>
<!--All images on this page must be in a 8 by 10 aspect ratio-->
<div class="merch-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <p><b>Notice:</b> This site is not responsible for any sales, purchases, orders, shipping, or support. <br> The sites linked below are listed for your convenience. <br> We recommend reviewing the policies of any external site before making a purchase. User discretion is advised.</p>
        </div>
        <div class="nav_mini_page">
            <a href="#mysteryShack">The MysteryShack</a>
            <a href="#galleryNucleus">Gallery Nucleus</a>
            <a href="#redbubble">Red Bubble</a>
            <a href="#teepublic">Tee Public</a>
            <a href="#etsy">Etsy</a>
        </div>
    </div>
    <% if (merch && merch.length > 0) { %>
        <% merch.forEach((merch, index) => { %>
            <%
                let cardClasses = 'merch-panel-card ';
                let cardIds = '';

                if(merch.order) {
                    cardClasses += `position-${merch.order.position}-about`;
                }

                if(merch.id) {
                    cardIds += `${merch.id}`;
                }
            %>
            <div class="<%= cardClasses %>" id="<%= cardIds %>">
                <div class="merch-panel-card-text">
                    <h3><%= merch.title %></h3>
                    <p><%= merch.description %></p>
                    <% if (merch.button && merch.button.length > 0) { %>
                        <% merch.button.forEach(btn => { %>
                            <a href="<%= btn.href %>" target="<%= btn.target %>"><%= btn.text %></a>
                        <% }) %>
                    <% } %>
                </div>
                <picture>
                    <source srcset="images/<%= merch.image.src %>-small.webp" media="(max-width: 500px)">
                    <source srcset="images/<%= merch.image.src %>-medium.webp" media="(max-width: 1000px)">
                    <img class="merch-panel-card-image" src="images/<%= merch.image.src %>-min.webp" alt="<%= merch.image.alt %>">
                </picture>
            </div>
        <% }) %>
    <% } else { %>
        <h2>"Oh! Uh... it's broken! I broke it" ~One-One</h2>
    <% } %>
</div>
<div id="return-menu">
    <a href="#home">Back to Top</a>
</div>