<header>
    <%- navHTML %>
    <div class="hero">
        <picture>
            <source srcset="<%= aboutData.hero-image.src.small %>" media="(max-width: 500px)">
            <source srcset="<%= aboutData.hero-image.src.medium %>" media="(max-width: 1000px)">
            <img class="hero_image" src="<%= aboutData.hero-image.src.min %>" alt="<%= aboutData.hero-image.alt %>">
        </picture>
        <div class="hero_text">
            <h2><%= aboutData.header %></h2>
            <svg height="150px"><image width="400px" height="150px" href="images/infinity_train_logo_white_bold.svg"></image></svg>
        </div>
    </div>
</header>