<%- navHTML %>
    <div class="hero">
        <picture>
            <source srcset="/images/<%= heroImage %>-small.webp" media="(max-width: 500px)">
            <source srcset="/images/<%= heroImage %>-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="/images/<%= heroImage %>-min.webp" alt="<%= heroAlt %>">
        </picture>
        <div class="hero_text">
            <h2><%= heroText %></h2>
            <svg height="150px"><image width="400px" height="150px" href="/images/infinity_train_logo_white_bold.svg"></image></svg>
        </div>
    </div>