<div class="hero_countdown">
    <label id="years">00</label>
    <label id="colon">  :  </label>
    <label id="months">00</label>
    <label id="colon">  :  </label>
    <label id="days">00</label>
    <label id="colon">  :  </label>
    <label id="hours">00</label>
    <label id="colon">  :  </label>
    <label id="minutes">00</label>
    <label id="colon">  :  </label>
    <label id="seconds">00</label>
    <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    <div class="countdown_message">
        <p>Infinity Train has been cancelled for too long</p>
        <p>We will not stand for this</p>
    </div>
</div>
<p class="banner"><b>NOTICE:</b> This site is a work in progress.
    Please excuse us at this time as we assemble this site.</p>
<div class="nav_mini">
    <div class="main_links">
        <% Object.values(aboutData["nav-mini"].main_links).forEach(link => { %>
            <a href="<%= link.href %>"><%= link.caption %></a>
        <% }) %>
    </div>
    <div class="page_links">
        <a href="#book1">Book 1</a>
        <a href="#book2">Book 2</a>
        <a href="#book3">Book 3</a>
        <a href="#book4">Book 4</a>
        <a href="#book5">Book 5 and Beyond</a>
    </div>
</div>
<div class="home-cards">
    <% Object.values(aboutData["hero-cards"]).forEach(card => { %>
    <div class="overview-card" id="<%= card.text.header.toLowerCase().replace(/ /g, '-') %>">
        <div class="card-text" id="home-cards.">
            <h3><%= card.text.header %></h3>
            <% if (card.text.paragraphs) { %>
                <% if (typeof card.text.paragraphs === 'string') { %>
                    <p><%= card.text.paragraphs %></p>
                <% } else { %>
                    <% for (const paragraphKey in card.text.paragraphs) { %>
                        <p><%= card.text.paragraphs[paragraphKey] %></p>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <picture>
            <source srcset="<%= card.image.src.small %>" media="(max-width: 500px)">
            <source srcset="<%= card.image.src.medium %>" media="(max-width: 1000px)">
            <img class="hero_image" src="<%= card.image.src.min %>" alt="<%= card.image.alt %>">
        </picture>
    </div>
    <% }); %>
    <div class="panel-card" id="about">
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
        <div class="card-text">
            <p>Learn more about the series and its lore</p>
            <a href="/about">About the Show</a>
        </div>
    </div>
    <div class="panel-card" id="merch">
        <div class="card-text">
            <p>Looking for some cool Infinity Train gear? Shop the collection!</p>
            <a href="/merch">Explore Merch</a>
        </div>
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
    </div>
</div>