<!--All images on this page must be in a 8 by 10 aspect ratio-->
<%- include('../partials/countdown') %>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Watch</a>
        </div>
        <div class="nav_mini_page">
            <a href="#book1">Book 1</a>
            <a href="#book2">Book 2</a>
            <a href="#book3">Book 3</a>
            <a href="#book4">Book 4</a>
            <a href="#book5">Book 5</a>
        </div>
    </div>
    <% if (about && about.length > 0) { %>
        <% about.forEach((about, index) => { %>
            <%
                let cardClasses = 'about-panel-card ';

                if (about.order) {
                    cardClasses += `position-${about.order.position}-about`;
                }
            %>
            <div class="<%= cardClasses %>" id="<%= about.id.trim() %>">
                <div class="about-panel-card-text">
                    <h3><%= about.title %></h3>
                    <% if (about.description && about.description.length > 0) { %>
                        <% about.description.forEach(desc => { %>
                            <p><%= desc %></p>
                        <% }) %>
                    <% } %>
                    <% if (about.button && about.button.length > 0) { %>
                        <% about.button.forEach(btn => { %>
                            <% if (btn.href && btn.text) { %>
                                <a href="<%= btn.href %>" target="<%= btn.target %>"><%= btn.text %></a>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
                <picture>
                    <source srcset="images/<%= about.image.src %>-small.webp" media="(max-width: 500px)">
                    <source srcset="images/<%= about.image.src %>-medium.webp" media="(max-width: 1000px)">
                    <img class="about-panel-card-image" src="images/<%= about.image.src %>-min.webp" alt="<%= about.image.alt %>">
                </picture>
            </div>
        <% }) %>
    <% } else { %>
        <h2>"Oh! Uh... it's broken! I broke it" ~One-One</h2>
    <% } %>
</div>
