<!--All images on this page must be in a 6 by 4 aspect ratio-->
<%- include('../partials/countdown') %>
<div class="support-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/support" id="home">Overview</a>
            <a href="/support/creators">Creators</a>
            <a href="/support/share">Share to Social</a>
            <a href="/support/watch">Where to Watch</a>
        </div>
    </div>
    <% if (support && support.length > 0) { %>
        <% support.forEach((support, index) => { %>
            <%
                let cardClasses = 'about-panel-card ';

                if(support.order) {
                    cardClasses += `position-${support.order.position}-about`;
                }
            %>
            <div class="<%= cardClasses %>">
                <div class="about-panel-card-text">
                    <h3><%= support.title %></h3>
                    <% if (support.description && support.description.length > 0) { %>
                        <% support.description.forEach(desc => { %>
                            <p><%= desc %></p>
                        <% }) %>
                    <% } %>
                    <% if (support.button && support.button.length > 0) { %>
                        <% support.button.forEach(btn => { %>
                            <a href="<%= btn.href %>" target="<%= btn.target %>"><%= btn.text %></a>
                        <% }) %>
                    <% } %>
                </div>
                <picture>
                    <source srcset="../images/<%= support.image.src %>-small.webp" media="(max-width: 500px)">
                    <source srcset="../images/<%= support.image.src %>-medium.webp" media="(max-width: 1000px)">
                    <img class="about-panel-card-image" src="../images/<%= support.image.src %>-min.webp" alt="<%= support.image.alt %>">
                </picture>
            </div>
        <% }) %>
    <% } %>
</div>