<%- include('../partials/countdown') %>
<div class="watch-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
    <% if (watch && watch.length > 0) { %>
        <% watch.forEach((watch, index) => { %>
            <%
                let cardClasses = 'watch-panel-card ';
                let cardIds = '';

                if(watch.order) {
                    cardClasses += `position-${watch.order.position}-about`;
                }

                if(watch.id) {
                    cardIds += `${watch.id}`;
                }
            %>
            <div class="<%= cardClasses %>" id="<%= cardIds %>">
                <div class="watch-panel-card-text">
                    <h3><%= watch.title %></h3>
                    <% if (watch.description && watch.description.length > 0) { %>
                        <% watch.description.forEach(desc => { %>
                            <p><%= desc %></p>
                        <% }) %>
                    <% } %>
                    <% if (watch.button && watch.button.length > 0) { %>
                        <% watch.button.forEach(btn => { %>
                            <% if (btn.text && btn.href) { %>
                                <a href="<%= btn.text %>" target="<%= btn.target %>"><%= btn.text %></a>
                           <% } %>
                     <% }) %>
                    <% } %>
                    <% if (watch.shop && watch.shop.length > 0) { %>
                        <div class="store-section">
                            <% watch.shop.forEach(cat => { %>
                                <% if (cat.item.text && cat.item.order) { %>
                                    <h4 class="store-header store-header-<%= cat.item.order %>"><%= cat.item.text %></h4>
                                    <% cat.item.links.forEach(link => { %>
                                        <a href="<%= link.href %>" target="<%= link.target %>" title="<%= link.title %>" class="store-link store-link-<%= link.order %>">
                                            <svg width="40px" height="40px">
                                                <image width="40px" height="40px" href="../images/<%= link.svgHref %>.svg"></image>
                                            </svg>
                                        </a>
                                    <% }) %>
                                <% } %>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
                <picture>
                    <source srcset="../images/<%= watch.image.src %>-small.webp" media="(max-width: 500px)">
                    <source srcset="../images/<%= watch.image.src %>-medium.webp" media="(max-width: 1000px)">
                    <img class="watch-panel-card-image" src="../images/<%= watch.image.src %>-min.webp" alt="<%= watch.image.alt %>">
                </picture>
            </div>
        <% }) %>
    <% } else { %>
        <h2>"Oh! Uh... it's broken! I broke it" ~One-One</h2>
    <% } %>
</div>